.about_container {
  padding: 30px 120px;
  display: flex;
}

.about_part {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 60px;
}
.my_name {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

.photo_part {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 120px 60px 60px;
}

.photo_part img {
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;
  border: 1px solid black;
}
