.footer_container {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0d5da;
}

.footer_paragraph {
  flex: 1; /* zabere celou šířku */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.7rem;
}

@media (min-width: 1280px) {
  .footer_container {
    height: 120px;
  }
}
