.footer_container {
  height: 150px;
  display: flex;
  align-items: center;
}

.footer_paragraph {
  flex: 1; /* zabere celou šířku */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.7rem;
}
