.contact {
  padding: 60px 210px 60px 180px;
}

.form {
  display: flex;
  justify-content: center;
}

.form_leftSide {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.form_rightSide {
  padding: 15px;
}

.form_field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form_icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.icon_github:hover,
.icon_linkedin:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.form_input {
  border: none;
  border-bottom: 1px solid white;
  min-width: 300px;
  background-color: transparent;
  padding: 10px;
  color: rgb(74, 73, 73);
}

.form_textarea {
  min-width: 300px;
  height: 150px;
  color: rgb(74, 73, 73);
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
}

.form_gdpr {
  display: flex;
  flex-direction: column;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #002d5183;
  cursor: pointer;
  position: relative;
}

.checkbox:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #1b3156;
}

.gdpr_paragraph {
  font-size: 0.8rem;
  min-width: 300px;
}

.form_btn {
  border: none;
  border-radius: 25px;
  padding: 5px 12px;
  background-color: #1b3156;
  color: white;
  width: 120px;
  cursor: pointer;
}

.form_btn:hover {
  background-color: #476cad;
}
