.header {
  padding: 30px 60px;
}

.header_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
}
.circle {
  position: absolute;
  z-index: -1;
  width: 700px;
  height: 700px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #fae0e4;
  left: -150px;
  top: -300px;
}

.circle::after {
  content: "";
  position: absolute;
  top: 68px;
  left: 68px;
  right: 68px;
  bottom: 68px;
  border: 1px solid white;
  border-radius: 50%;
}

.logo {
  max-width: 150px;
  max-height: 150px;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding-right: 60px;
}

.nav_link {
  text-decoration: none;
  color: black;
  font-family: "Poiret One", sans-serif;
  font-size: 1.5rem;
  padding: 7px 13px;
}

.nav_link:hover {
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(192, 191, 191, 0.934);
}
