.header {
  padding: 120px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: black;
  font-family: "Licorice", sans-serif;
  font-size: 1.5rem;
}
