.header {
  padding: 60px 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: black;
  padding-left: 220px;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding-right: 320px;
}

.nav_link {
  text-decoration: none;
  color: black;
}
