.project_container {
  position: relative;
}

.project_content {
  padding: 60px 210px 60px 180px;
}

.headings {
  font-size: 1.7rem;
  color: black;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 30px;
}

.project_cards {
  display: flex;
  justify-content: space-around;
}

.circle3 {
  position: absolute;
  z-index: -2;
  width: 220px;
  height: 220px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #fae0e4;
  left: 90px;
  top: 320px;
}

.circle3::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid white;
  border-radius: 50%;
}
