.container_card {
  background-color: #fbe9ec;
  padding: 20px;
  font-family: "Poiret One", sans-serif;
  border-radius: 8px;
}

.container_card:last-of-type {
  margin-bottom: 40px;
}

.img_content {
  padding: 20px 0;
}
.img_card {
  border-radius: 8px;
}
.heading_card {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 6px 0;
  color: #153976;
  text-shadow: 0 3px 6px #999ca0;
}
.visibility_card {
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 15px;
  width: auto;
  margin: 6px;
  padding: 4px 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #153976;
}
.public_bg {
  background-color: rgba(83, 139, 83, 0.891);
}
.public_bg:hover {
  color: aliceblue;
}

.private_bg {
  background-color: rgb(141, 77, 57);
}

.text_card {
  padding: 12px 0;
}
.icon_card2 {
  padding-left: 8px;
}

@media (min-width: 1280px) {
  .container_card:hover {
    background-color: rgb(253, 243, 243);
  }
  .container_card:last-of-type {
    margin-bottom: 0;
  }
  .content_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 1.3rem;
  }

  .img_content {
    padding: 20px;
  }

  .img_card {
    max-width: 220px;
    max-height: 200px;
  }
  .heading_card {
    padding: 6px 12px;
  }
}
