.project_container {
  position: relative;
}

.project_content {
  padding: 60px 210px 60px 180px;
}

.headings {
  font-size: 2.2rem;
  color: #153976;
  text-decoration: none;
  font-weight: 300;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.project_cards {
  max-width: 1500px;
  display: flex;
  gap: 50px;
}
